<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local NuGet Feed" value="..\.NuGetFeed" />
    <add key="BigIntegerExt (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-bigintegerext" />
    <add key="ElGamalExt-Homomorphism (AppVeyor Dev Builds)" value="https://ci.appveyor.com/nuget/bazzilic-elgamalext-homomorphism" />
  </packageSources>
</configuration>
