<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BigIntegerExt" value="https://ci.appveyor.com/nuget/bazzilic-bigintegerext" />
    <add key="ElGamalExt-Homomorphism" value="https://ci.appveyor.com/nuget/bazzilic-elgamalext-homomorphism" />
    <add key="BigFraction" value="https://ci.appveyor.com/nuget/bazzilic-bigfraction" />
  </packageSources>
</configuration>
